[defaults]
inventory         = inventory.yml
private_key_file  = ~/git/auth/ssh/p1
roles_path        = roles
collections_path  = .collections
host_key_checking = True
interpreter_python = /usr/bin/python3
vars_plugins_enabled = host_group_vars,community.sops.sops
stdout_callback   = ansible.builtin.default
result_format     = yaml

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
